* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DFDFDF;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    margin-top: 2%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-header h3 {
    margin: 0;
    color: #ff6f61;
}

.nav-link {
    color: #6c757d;
    font-size: 16px;
    margin: 10px 0;
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.nav-link.active,
.nav-link:hover {
    font-weight: bold;
    color: #ff6f61;
    background-color: #f8d7da;
}

.nav-item.d-flex.align-items-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item.d-flex.align-items-center .btn {
    padding: 5px 10px;
    font-size: 12px;
}

#category-list {
    margin-top: 10px;
}

#category-list .nav-link {
    margin-left: 20px;
}

#edit-category-btn {
    background-color: #e55b50;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-category-btn:hover {
    background-color: #d04a3f;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a.dropdown-item {
    color: #6c757d;
    font-size: 14px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.dropdown-menu a.dropdown-item:focus,
.dropdown-menu a.dropdown-item:hover {
    background-color: #f8d7da;
    color: #ff6f61;
    text-decoration: none;
}

.dropdown-menu a.dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu a.dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.rectangular-bar {
    height: 10px;
    width: 50px;
}

.input-area {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

#add-categories-btn,
#add-task-btn {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#add-categories-btn:hover,
#add-task-btn:hover {
    background-color: #e55b50;
}

.task-area {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

.task-tabs {
    margin-bottom: 10px;
    display: flex;
    position: absolute;
}

.task-tabs .under-line {
    margin-right: 20px;
}

.task-tabs .under-line:last-child {
    margin-right: 0;
}

#underline {
    position: absolute;
    height: 2px;
    background-color: #ff6f61;
    transition: left 0.3s ease, width 0.3s ease, top 0.3s ease;
    bottom: 0;
    left: 0;
}

#task-board {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.task {
    background-color: #f7f8fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-done {
    text-decoration: line-through;
    color: #888;
}

.fa-solid {
    color: #ff6f61;
    background-color: transparent;
}
