/* 전체적인 초기화와 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DFDFDF;
}

/* 컨테이너 스타일 */
.container {
    background-color: #fff;
    border-radius: 30px;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 헤더 스타일 */
.header h1 {
    color: #ff6f61;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    /* font-weight: bold; */
    white-space: nowrap;
}

.header-controls {
    display: flex;
    align-items: center;
}

.circle-green,
.circle-red,
.circle-yellow {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.circle-red {
    background-color: #ff5f56;
}

.circle-yellow {
    background-color: #ffbd2e;
}

.circle-green {
    background-color: #27c93f;
}

.rectangular-bar {
    width: 100px;
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 30px;
    display: inline-block;
    margin-left: 20px;
}

/* 사이드바 스타일 */
.sidebar {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    color: #555;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 0;
}

.nav-menu:hover {
    color: #ff6f61;
    background-color: #f8d7da;
    border-radius: 10px;
}

#category-board .nav-menu {
    font-size: 1em;
    color: #999;
    padding: 8px;
    cursor: pointer;
}

/* 메인 콘텐츠 스타일 */
.main-content {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 할 일 목록 스타일 */
.task-tabs {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
}

.task-tabs div {
    font-weight: bold;
    margin-right: 10px;
}

.task-tabs #underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: #ff5f56;
    border-radius: 5px;
    transition: left 0.3s ease, width 0.3s ease;
}

.task {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-done {
    background-color: #f0f0f0;
}

/* 입력 및 버튼 관련 스타일 */
.input-area {
    display: flex;
    align-items: center;
}

.task-input {
    border: 1px solid #f0f0f0;
    font-size: 1em;
    padding: 10px;
    flex: 1;
}

#add-task-btn {
    background-color: #ff6f61;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
}

#add-task-btn:hover {
    background-color: #ff5f56;
}

.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#category-board {
    display: none;
}
